---
import { getCollection } from "astro:content";
import Pagination from "../../components/Pagination.astro";
import Layout from "../../layouts/Layout.astro";

const ARTICLES_PER_PAGE = 5;
const currentPage = +Astro.url.searchParams.get("page")! || 1;

const baseArticles = await getCollection("articles");

function _getDate(date: string) {
  const [day, month, year] = date.split("/");
  return new Date(Number(year), Number(month) - 1, Number(day));
}

function formatDate(date: string) {
  const newDate = _getDate(date);
  if (newDate.toString() === "Invalid Date") {
    return date;
  }

  return newDate.toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
}

const totalPages = Math.ceil(baseArticles.length / ARTICLES_PER_PAGE);
const articles = baseArticles
  .sort(
    (a, b) => _getDate(b.data.date).valueOf() - _getDate(a.data.date).valueOf(),
  )
  .slice(
    (currentPage - 1) * ARTICLES_PER_PAGE,
    currentPage * ARTICLES_PER_PAGE,
  );

console.log({ currentPage, totalPages });
---

<Layout title="Facu's website">
  <div class="flex flex-col gap-16 min-w-[480px]">
    <h1 class="text-4xl md:text-6xl">Articles</h1>
    <ul class="grid gap-4 grid-cols-1">
      {
        articles.map((article) => (
          <li
            data-slug={article.slug}
            class="grid grid-flow-col grid-cols-[140px_8px_auto] gap-4 rounded px-4 py-6 bg-gradient-to-r from-cyan-300 to-cyan-400 hover:cursor-pointer hover:to-cyan-500 dark:from-purple-700 dark:to-cyan-800 dark:hover:to-cyan-600 transition"
          >
            <span class="italic">{formatDate(article.data.date)}</span>
            <code>{"|"}</code>
            <span>{article.data.title}</span>
          </li>
        ))
      }
    </ul>
    <Pagination
      currentPage={currentPage}
      disableNext={currentPage === totalPages}
      disablePrevious={currentPage === 1}
      totalPages={totalPages}
    />
  </div>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8454596958122266"
    crossorigin="anonymous"></script>
  <script>
    const liEls = document.querySelectorAll("li");
    liEls.forEach((el) =>
      el.addEventListener("click", () => {
        const slug = el.dataset.slug;
        window.location.href = `/articles/${slug}`;
      }),
    );
  </script>
</Layout>
